.grid-container {
  display: grid;
  grid-template-columns: 50px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-auto-columns: 50px;
  gap: 20px 30px;
  /* justify-items: center;
  align-items: center; */
  justify-content: space-between;
  grid-auto-flow: dense;
}


.grid-item:nth-child(4) {
  background: cornflowerblue;
  grid-row: 3;
}

.grid-item:nth-child(2) {
  background: chartreuse;
  /* grid-column: 3 / 5; */
  grid-row: 3 / 5;
  justify-self: stretch;
}



.header {
  background: bisque;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
  row-gap: 10px;
}

.logo {
  height: 50px;
  width: 50px;
  background: cadetblue;
  display: grid;
  align-items: center;
  justify-content: center;
}

.log-in-btn {
  background-color: cornflowerblue;
  height: 50px;
}

.search-form {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.search-options {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  grid-row: 2;
  grid-column: 2;
}

.option-btn {
  height: 30px;
  background: darkcyan;
}

input, button {
  border: none;
}